@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YourCustomFont";
  src: url("/fonts/YourFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "YourCustomFont", sans-serif;
}


body {
  cursor: default;
}

